---
layout: default
title: Home
---
<br><br>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-centered is-5">
                <figure id="profile-img" class="is-centered image is-flex-desktop-only">
                    <img class="is-rounded " src="assets/images/creator.jpg">
                </figure>
                
            </div>
            <div class="column is-three-fifths">
                <p class="title is-1 mb-5 is-spaced">Heya, I'm <!--<br>--> <span id="name" style="text-align:right;"> Megan Davis</span></p>
                
                
                <p class="subtitle is-5 descriptive-text" >I'm a <strong>Data Scientist / Performance Engineer</strong> with over 5+ years of
                    operational experience. My goal is to create easy-to-use solutions that help reduce toil for everyday technicians.</p>
                <p class="subtitle is-5 descriptive-text">In my free time you'll catch me dabbling with website and videogame development. 
                    You can catch my ramblings about these topics on my <strong><a class="underline-link" href="/blog.html">blog</a></strong> or checkout my previous <strong><a class="underline-link" href="/projects.html">projects</a></strong>.</p>
            </div>
        </div>    
    </div>
</section>
<section id="split-line" class="hero is-medium mb-3 mt-6">
  
</section>
<br><br>

<section class="section">
    <div class="container">
        <h1 class="title is-2 mb-6">Recent Posts</h1>
        <div class="columns">
            <div class="column">
                {% for post in site.posts limit:3 %}
                    <p class="subtitle is-6 mb-5" style="opacity: 85%;">{{ post.date | date_to_string }}</p>
                    <a class="title is-4 mt-2 has-text-black" href="{{ post.url }}" >{{ post.title }}</a>
                    <hr class="has-background-black" style="width:3%;">
                    <p class="mb-6">{{ post.description }}</p>
                    {% if forloop.last %}     
                    {% else %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div><!--column-->
        </div><!--Columns-->
    </div><!--container-->
</section>
