.centering{display:block;margin:0 auto;max-width:1248px}
.centering-text{display:block;margin:0 auto;max-width:1248px;text-align:center}
h1,h2,h3,h4,h5,p,tr,th{font-family:'Merriweather',serif;padding-left:2%;padding-right:2%}
#title-other{
    font-size:48px;
}
#title{
    font-size: 120px;
}
#text-change{font-family:'Oswald',sans-serif}
p{font-size:19px;padding-left:2%;padding-right:2%}
.rogue{
    color:#FFF569 !important;
}
#interrupt-counter{
    font-size:200px;
}
