<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Megan Davis is a data Scientist / performance Engineer with over 5+ years of operational experience. My goal is to create easy-to-use solutions that help reduce toil for everyday technicians.">
    <link rel="icon" type="image/x-icon" href="/assets/images/mIcon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script type='text/javascript' src='/assets/js/general.js'></script>
    <script src="https://kit.fontawesome.com/bea6cb6946.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/poststyles.css">

    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>